# created by virtualenv automatically

# Исключения
!core/
!models/
!pages/
!services/
!test_api/
!test_data/
!tests/


# Virtual Environment
.venv/


# PyCharm
.idea/
.flake8
.gitignore
__pycache__/
*.pyc
*.pyo
.pytest_cache/

#Allure_results
allure_results